layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="opencode" focus=true {
        pane split_direction="vertical" {
            pane size="65%" command="zsh" {
                args "-lc" "opencode; exec zsh"
                focus true
            }
            pane split_direction="horizontal" {
                pane name="shell" command="zsh"
                pane name="git" command="zsh" {
                    args "-lc" "lazygit; exec zsh"
                }
            }
        }
    }

    tab name="server" {
        pane command="zsh"
    }
}
